# Fichiers objets
*.o
client
server
client_tcp
server_tcp
client_udp
server_udp

# Fichiers exécutables
*.exe
*.out

# Fichiers de dépendances générés par le compilateur
*.d

# Fichiers de sauvegarde
*~

# Fichiers de configuration de l'IDE
.vscode/
*.suo
*.user
*.sln.docstates

# Fichiers de build générés par CMake
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Fichiers de documentation générés
doc/
